<div class="auth-container">
    <div class="login-main">  
         <h2>Entrar</h2>
        <div class="container-login">
            <div>
                <form action="/login" method="POST">
                <div class="form-control">
                    <label for="email">E-mail:</label>
                    <div class="input-wrapper">
                         <i class="fa-solid fa-envelope"></i>
                         <input type="email" name="email" placeholder="Digite seu e-mail">
                    </div>
                    
                </div>

                <div class="form-control">
                    <label for="password">Senha:</label>
                    <div class="input-wrapper">
                         <i class="fa-solid fa-lock"></i>
                         <input type="password" name="password" placeholder="Digite sua senha...">
                    </div>
                   
 
                     <div class="container-divisao-login">
                        <input type="submit" value="Entrar">
                        <p>Não tem uma conta? <a href="/register">CLIQUE AQUI!</a></p>  
                    
                     </div>
                </div>
            </div>    
        </div>
       
            </form>
    </div>
</div>