<div class="auth-container">
    <div class="register-main">
        <h2>Registrar</h2>
            <div class="container-registrar"> 
                <form action="/register" method="POST">
                <div class="form-quebra">
                    <div class="form-quebra2">   
                       <div>
                                <div class="form-control">
                                    <label for="name">Nome:</label>
                                    <div class="input-wrapper">
                                        <i class="fa-regular fa-user"></i>
                                        <input type="text" name="name" placeholder="Digite seu nome" required>
                                    </div>
                                    
                                </div>
                            </div>

                            <div>
                                <div class="form-control">
                                    <label for="name">Idade</label>
                                    <div class="input-wrapper">
                                        <i class="fa-regular fa-calendar-days"></i>
                                        <input type="number" name="age" placeholder="Digite sua idade" required>
                                    </div>
                                    
                                </div>
                            </div>
                            <div>
                                <div class="form-control">
                                    <label for="contact">Discord</label>
                                    <div class="input-wrapper">
                                        <i class="fa-brands fa-discord" style="color: #ffffff;"></i>
                                        <input type="text" name="contact" placeholder="Digite seu discord" required>
                                    </div>
                                   
                                </div>
                            </div>
                           

                            
                        </div>
                    
                    <div class="form-quebra1"> 
                        <div>
                            <div class="form-control">
                                <label for="email">E-mail:</label>
                                <div class="input-wrapper">
                                    <i class="fa-solid fa-envelope"></i>
                                    <input type="email" name="email" placeholder="Digite seu e-mail" required>
                                </div>
                               
                            </div>
                        </div>

                        <div>
                            <div class="form-control">
                                <label for="password">Senha:</label>
                                <div class="input-wrapper">
                                    <i class="fa-solid fa-lock"></i>
                                    <input type="password" name="password" placeholder="Digite a sua senha" required>
                                </div>
                                
                            </div>
                        </div>

                         <div>
                            <div class="form-control">
                                <label for="confirmpassword">Confirmar Senha:</label>
                                <div class="input-wrapper">
                                  <i class="fa-solid fa-lock"></i>
                                  <input type="password" name="confirmpassword" placeholder="Confirme a sua senha" required>  
                                </div>
                                
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                
            </div>
                <div class="cadastrar-bottom">
                    <input type="submit" value="Cadastrar">
                    <p>Já tem conta? <a href="/login">CLIQUE AQUI!</a></p>
                </div>       
                    </form>
    </div>
    
   
</div>