<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>DuoMatch</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">DuoMatch</a></li>
                {{#if session.userid}}
                    <li><a href="/posts/meusposts">Meus Posts</a></li>
                    <li><a href="/logout">Sair</a></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Registrar</a></li>
                {{/if}}

            </ul>
        </nav>
    </header>

    {{{ body }}}
</body>
</html>