<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <title>DuoMatch</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li id="nav-logo"><a href="/"><img src="/assets/images/logo.png" alt="logo"></a></li>

                <div class="login-link"> 
                    {{#if session.userid}}
                        <li><a href="/posts/meusposts"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a></li>
                        <li class="logout"><a href="/logout"><i class="fa-solid fa-right-from-bracket" style="color: #ff0000;"></i></a></li>
                    {{else}}
                        <li class="meu-login"><a href="/login">LOGIN <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i></a></li>

                    {{/if}}
                </div>

            </ul>
        </nav>
    </header>

    {{{ body }}}
</body>
</html>